
.container{
    border: 1px solid #564f4f;
    margin-bottom: 10px;
}
.grid_container{
    display: grid;
}
h1,
h2{
    color: rgb(3, 72, 49);
}

.item{
    border: 1px solid rebeccapurple;
    margin: 5px;
    color: rgb(249, 248, 248);   
    padding: 10px;
    text-align: center;
}
/* .item1{
    background-color: rgb(249, 105, 52);
} */

.item:nth-child(even) { /*best way to define color in alternates boxes*/
    background-color: rgb(249, 105, 52);
}
.item:nth-child(odd){
    background-color: rgb(56, 56, 249);
}